<h2>New Food</h2>

<form action="/foods" method="post">
  <input type="text" name="food[name]" placeholder='...name'>
  <input type="text" name="food[cuisine]" placeholder='...cuisine'>
  <input type="number" name="food[cents]" placeholder='...cents'>
  <input type="submit">
</form>
